<ion-footer>
    <ion-navbar color="white" hideBackButton="true">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-footer>
  
  <ion-header>
      <ion-navbar color="white" class="centre">
        <ion-buttons left (click)="goBack()">
              <button ion-button icon-only>
                  <ion-icon name="arrow-back"></ion-icon>
              </button>
          </ion-buttons>
          <ion-title>Applications</ion-title>
        </ion-navbar>
  </ion-header>
  
  <ion-content>

    <ion-grid>
      <ion-row *ngIf="applications">
          <ion-col col-4 *ngFor="let application of applications;let i = index" (click)="previewAnswer(application.lr_id,application.la_id,application.qc_id)">
            <button ion-button block class="but">
              <div>
                <div class="avatar">
                  <ion-avatar item-start>
                    <img src="assets/imgs/document.png" alt="Application">  
                  </ion-avatar>
                </div>
                <div class="text">
                  <label>Application {{ i + 1}}</label>
                </div>
              </div>
          </button> 
          </ion-col>
        <!-- <ion-col col-4>
          <button ion-button>
            <div>
              <div class=icon>
                <ion-icon name="document"></ion-icon>
              </div>
            </div>
          </button>
          <label>Profile 1</label>
        </ion-col> -->
  
      </ion-row>

      <!-- <ion-row>
          <ion-col col-4>
            <button float-left ion-button round small (click)="addNewApplication()">Add</button>
          </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>

  