page-listapplications {
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px;
    }
    
    .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image:none !important;
    }

    .but{
        background-color:white !important;
        -webkit-box-shadow:none;
        box-shadow: none;
        height:9em;
    }

    .but label{
        color :black;
    }

    ion-icon.icon.icon-md.ion-md-flash {
        color: black;
    }

    .avatar{
        // background-color:red !important;
        border-radius:50%;
        position:relative; 
        width: 82px;
        height: 70px;
        padding: 20px;
        margin: 0 auto;
    }

    .text{
        padding:10px;
        position :relative;
    }

    // ion-col{
    //     button{
    //         background-color:red !important;
    //         height: auto !important;
    //         box-shadow: none !important;
    //         text-transform: initial !important;

    //         ion-icon{
    //             font-size: 3em;
    //         }
    //     }
    //     label{
    //         color :red !important;
    //     }
    // }
}
