<ion-footer>
    <ion-navbar color="white">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-footer>
  
  <ion-header>
      <ion-navbar color="white">
          <ion-title>Change Password</ion-title>
      </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-grid class="content">      
      
          <form [formGroup]="changePassword" (ngSubmit)="doUpdatePassword()" class="animated fadeInRight">
            <ion-item no-lines>
              <ion-input type="password" placeholder="Enter Password" [formControl]="changePassword.controls['password']"></ion-input>
            </ion-item>
            <span *ngIf="changePassword.controls.password.errors && changePassword.controls.password.dirty && changePassword.controls.password.hasError('required')" class="danger" padding>Password is required.</span> 
            <span *ngIf="changePassword.controls.password.errors && changePassword.controls.password.dirty && changePassword.controls.password.hasError('pattern')" class="danger" padding>Not a valid password.</span>

            <ion-item no-lines>
              <ion-input type="password" placeholder="Confirm Password" [formControl]="changePassword.controls['confirmPassword']"></ion-input>
            </ion-item>
            <span *ngIf="changePassword.controls.confirmPassword.errors && changePassword.controls.confirmPassword.dirty && changePassword.controls.confirmPassword.hasError('required')" class="danger" padding>Confirm Password is required.</span> 
      
            <button ion-button [disabled]="!changePassword.valid" type="submit" float-right ion-button round small>DONE</button>
      
          </form>
        </ion-grid>
  </ion-content>