<ion-header>
    <ion-navbar color="white">
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="content">
      <ion-row>
        <ion-col>
          <h6>Select and upload all that is available</h6>
        </ion-col>
      </ion-row>  
     
        <ion-item class="documentType" no-lines>
          <ion-select #identity placeholder="Select your Identity Proof"  >
            <ion-option value="Passport">Passport</ion-option>
            <ion-option value="Driving License">Driving License</ion-option>
            <ion-option value="Voters Card">Voters Card</ion-option>
            <ion-option value="PAN Card">PAN Card</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines *ngIf="identityy">
          <ion-label>1 File Selected</ion-label>  
        </ion-item>        

        <ion-row>
            <ion-col col-5>
                <button float-left round small (click)="doChooseDocuments(identity,'iden')" outline ion-button>Choose</button>
            </ion-col>
          <ion-col col-5>
            <button float-left round small (click)="doUploadDocuments()" outline ion-button>Upload</button>
          </ion-col>
        </ion-row>

        <ion-item class="documentType" no-lines>
        <ion-select #address placeholder="Select your Address Proof">
            <ion-option value="Passport">Passport</ion-option>
            <ion-option value="Utility Bills">Utility Bills</ion-option>
            <ion-option value="Voters Card">Voters Card</ion-option>
            <ion-option value="Renters Agreement">Renters Agreement</ion-option>
          </ion-select>
        </ion-item>

        <ion-row>
            <ion-col col-5>
                <button float-left round small (click)="doChooseDocuments(address,'add')" outline ion-button>Choose</button>
            </ion-col>
          <ion-col col-5>
            <button float-left round small (click)="doUploadDocuments()" outline ion-button>Upload</button>
          </ion-col>
        </ion-row>

        <ion-item no-lines *ngIf="addresss">
          <ion-label>1 File Selected</ion-label>  
        </ion-item>

        <ion-row>
          <ion-col>
              <ion-item class="documentType" no-lines>
              <ion-select #financial placeholder="Select your Financial Proof">
                  <ion-option value="financial 1">Annual reports / financial statement for the immediately preceding 3 financial years, including audit reports if the accounts are audited</ion-option>
                  <ion-option value="financial 2">Copy of the company's/firm's last Income Tax return, Sales Tax return, Excise Return and Wealth Tax Returns and EPF/ESIC payments</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
              <button float-left round small outline (click)="doChooseDocuments(financial,'fin')" ion-button>Choose</button>
          </ion-col>
          <ion-col col-5>
            <button float-left round small (click)="doUploadDocuments()" outline ion-button>Upload</button>
          </ion-col>
        </ion-row>

        <ion-item no-lines *ngIf="financiall">
          <ion-label>1 File Selected</ion-label>  
        </ion-item>
  
        <ion-row>
          <ion-col>
            <button float-right ion-button round (click)="doProceed()" small>Okay</button>
          </ion-col>
        </ion-row> 
      
    </ion-grid>
  </ion-content>