// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: "Century Gothic Regular";
    src: url('../assets/fonts/centure_go/Century\ Gothic.ttf')
  }
  
*{
    font-family: "Century Gothic Regular";
}

.content{
    position: absolute;
    bottom:10%;
    right: 2px;
}

.centre{
    text-align:center;
}

.danger{
    color:red;
}


// For Dropdown Select Box
ion-select,.select-searchable{
    max-width: 100% !important;
}
.select .select-icon,.select-searchable-icon {
    position: absolute;
    right: 30px;
    width:12px;
}

ion-select{
    button{
        .button-inner{
            border: 1px solid color($colors,select);
            border-radius: 34px;
        }   
    }    
} 

select-searchable{
    button{
        .button-inner{
            border: 1px solid color($colors,select);
            border-radius: 34px;
        }   
    }
    .select-searchable-value{
        padding-left :0 !important;
    }    

}

ion-item{
    ion-label{
        max-width: fit-content !important;
    }
    .item-inner{ 
        box-shadow:none !important;
    }
}

// For Header 
.tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image:none !important;
}

.screen_centre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    padding:10px;
    text-align: center;
}

// For TextBox Color
    // .input-wrapper{
    //     border-radius: 33px;
    //     border: 1px solid grey;
    //     margin-bottom: 10px;
    // }

    // button{
    //     margin-top: 11px !important;
    // }

    // h6{
    //     margin-bottom: 23px;
    // }

// For Placeholder
.text-input::-moz-placeholder {
    font-size:7px;
  }
  
  .text-input:-ms-input-placeholder {
    font-size:7px;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    font-size:15px;
  }

  @media (max-width:320px) {
      
  }

.alert-md .alert-radio-label{
    white-space: inherit !important;
}