<ion-header>
    <ion-navbar color="white">
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid class="content">
      <ion-row>
        <ion-col col-12>
          <h6>Recover you account password</h6>
        </ion-col>
      </ion-row>
  
  
      <form [formGroup]="forgotForm" (ngSubmit)="doSendMail()" class="animated fadeInRight">
          <ion-item>
              <ion-input type="text" [formControl]="forgotForm.controls['email']" placeholder="Enter your Email Address.."></ion-input>
            </ion-item>
            <span *ngIf="forgotForm.controls.email.errors && forgotForm.controls.email.dirty && forgotForm.controls.email.hasError('required')" class="danger" padding>Email is required.</span> 

              <span *ngIf="forgotForm.controls.email.errors && forgotForm.controls.email.dirty && forgotForm.controls.email.hasError('pattern')" class="danger" padding>Not a valid email.</span>
        <button ion-button [disabled]="!forgotForm.valid" type="submit" float-right ion-button round small>SUBMIT</button>  
      </form>
    </ion-grid>
  </ion-content>