<ion-header>
  <ion-navbar color="white">
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="content">
      <ion-row>
        <ion-col>
          <h6>Do you already have an existing loan?</h6>
        </ion-col>
      </ion-row>
      
      <form [formGroup]="existingloan" (ngSubmit)="action > 0 ? doUpdateExistingLoan() : doExistingLoan()" class="animated fadeInRight">
        <ion-item no-lines>
          <ion-input type="text" placeholder="Loan Facility" [formControl]="existingloan.controls['loan_facility']"></ion-input>
        </ion-item>
        <span *ngIf="existingloan.controls.loan_facility.errors && existingloan.controls.loan_facility.dirty && existingloan.controls.loan_facility.hasError('required')" class="danger" padding>Loan Facility is required.</span> 

        <span *ngIf="existingloan.controls.loan_facility.errors && existingloan.controls.loan_facility.dirty && existingloan.controls.loan_facility.hasError('pattern')" class="danger" padding>Not a valid loan facility.</span>

        <ion-item no-lines>
          <ion-input type="text" placeholder="Loan Amount (In Cr)" [formControl]="existingloan.controls['loan_amount']"></ion-input>
        </ion-item>
        <span *ngIf="existingloan.controls.loan_amount.errors && existingloan.controls.loan_amount.dirty && existingloan.controls.loan_amount.hasError('required')" class="danger" padding>Loan Amount is required.</span> 

        <span *ngIf="existingloan.controls.loan_amount.errors && existingloan.controls.loan_amount.dirty && existingloan.controls.loan_amount.hasError('pattern')" class="danger" padding>Not a valid loan amount.</span>
        <ion-item no-lines>
            <ion-input type="text" placeholder="Interest Rate" [formControl]="existingloan.controls['interest']"></ion-input>
        </ion-item>
        <span *ngIf="existingloan.controls.interest.errors && existingloan.controls.interest.dirty && existingloan.controls.loan_amount.hasError('required')" class="danger" padding>Interest is required.</span> 

        <span *ngIf="existingloan.controls.interest.errors && existingloan.controls.interest.dirty && existingloan.controls.loan_amount.hasError('pattern')" class="danger" padding>Not a valid interest.</span>
        <ion-item no-lines>
            <ion-input type="text" placeholder="Bank Name" [formControl]="existingloan.controls['bank_name']"></ion-input>
        </ion-item>
        <span *ngIf="existingloan.controls.bank_name.errors && existingloan.controls.bank_name.dirty && existingloan.controls.loan_amount.hasError('required')" class="danger" padding>Bank Name is required.</span> 

        <span *ngIf="existingloan.controls.bank_name.errors && existingloan.controls.bank_name.dirty && existingloan.controls.loan_amount.hasError('pattern')" class="danger" padding>Not a valid bank name.</span>
        <!-- <ion-item no-lines> -->
            <button *ngIf="noExist" ion-button ion-button round float-right small (click)="noLoan()">No, i do not have any existing loan</button>
        <!-- </ion-item> -->
        <!-- <ion-item no-lines> -->
          <button *ngIf="action==0" ion-button ion-button round small [disabled]="!existingloan.valid" (click)="doAddMore()" type="button">Click here to add another loan facility</button>
        <!-- </ion-item>         -->
        <button ion-button [disabled]="!existingloan.valid" type="submit" float-right ion-button round small>DONE</button>  
      </form>
    </ion-grid>
  </ion-content>