<ion-footer>
    <ion-navbar color="white" hideBackButton="true">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-footer>
  
  <ion-header>
      <ion-navbar color="white" class="centre">
          <ion-buttons left>
              <button ion-button icon-only (click)="goBack()">
                  <ion-icon name="arrow-back"></ion-icon>
              </button>
          </ion-buttons>
          <ion-title>Application Name</ion-title>
        </ion-navbar>
  </ion-header>
  
  <ion-content padding="true">

      <ion-list class="accordion-list"> 
          <!-- First Level -->
          <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <!-- <ion-icon item-left name="leaf" *ngIf="!item.open"></ion-icon> -->
            <button ion-item (click)="toggleSection(i)" detail-none class="trans" [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <ion-icon medium  class="toggleIcon" item-right name="ios-arrow-forward" *ngIf="!item.open"></ion-icon>
              <ion-icon medium class="toggleIcon" item-right name="ios-arrow-down" *ngIf="item.open"></ion-icon>
              <ion-icon small style="color:grey" (click)="editQuestion(item.page,item.laId,item.qcId)" item-right name="ios-create" md="md-create"></ion-icon>
                {{ item.question }}
            </button>

            <ion-list *ngIf="item.answer && item.open" no-lines>
              <ion-list-header no-padding>
                <ion-item text-wrap detail-none ion-item>
                    <p text-lowercase>{{ item.answer }}</p>
                </ion-item>
              </ion-list-header>
            </ion-list>
       
            <ion-list *ngIf="item.children && item.open" no-lines>
              <!-- Second Level --> 
              <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>       
                <!-- Direct Add Button as Fallback -->
                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                  <p text-lowercase>{{ child }}</p>
                </ion-item>
              </ion-list-header>
            </ion-list>
            
          </ion-list-header>
        </ion-list>
  </ion-content>